<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録</title>
</head>
<body>
    <h1>register</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="email_address">email_address</label>
        <input type="text" id="email_address" name="email_address">
        <label for="password">password</label>
        <input type="text" id="password" name="password">

        <input type="submit" value="アップロード">
    </form>
</body>
</html>