<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アップロードページ</title>
</head>
<body>
    <h1>アップロード</h1>
    <form action="{{next_url_upload}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="example">
        <input type="submit" value="アップロード">
    </form>

    <form action="{{next_url_view_today}}" method="GET">
        <input type="submit" value="today result">
    </form>
    <form action="{{next_url_view_calories}}" method="GET">
        <input type="submit" value="calories">
    </form>
    <form action="{{next_url_view_fat}}" method="GET">
        <input type="submit" value="fat">
    </form>
    <form action="{{next_url_view_protein}}" method="GET">
        <input type="submit" value="protein">
    </form>
    <form action="{{next_url_view_carbohydrates}}" method="GET">
        <input type="submit" value="carbohydrates">
    </form>
</body>
</html>